SUPABASE_PROJECT_REF=
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
TCE_BASE_URL=https://api-dados-abertos.tce.ce.gov.br/sim
TCE_DEFAULT_MUNICIPIO=014
TCE_DEFAULT_EXERCICIO=202500
TCE_DEFAULT_DATA_REFERENCIA=202501
